<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clicker Game</title>
</head>
<style>
        .center {
            margin: 0;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
</style>
<body>
    <div class="center">
            <button onclick="onCoffeeButtonPress()" style="height:200px; width:200px; font-size:24px">Coffee Button<br></button>
        <p id="num" style="font-size:48px">0</p>
    </div>
    <script src="/static/js/game.js"></script>
</body>
</html>