<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
      <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <py-env>
        - paths:
          - /static/pyscript/canvas.py
          - /static/pyscript/gui.py
          - /static/pyscript/rooms.py
          - /static/pyscript/socketio.py

          # Rooms
          - /static/pyscript/rooms/home.py
          - /static/pyscript/rooms/quiz.py
          - /static/pyscript/rooms/scores.py
          - /static/pyscript/rooms/waiting_for_quiz.py
      </py-env>
    </head>

  <body>
    <div style="width: 100%; text-align: center">
        <canvas id="canvas" width="750" height="750" style="display: inline"></canvas><br/><br/>
        <input type="text" placeholder="Quiz ID" id="quiz_id"><button id="quiz_id_start">Start</button>
    </div>
    <div id="canvasImages" style="display: none">
      <!--Loads all images-->
      {% for img in imgs %}
      <img src="/static/img/{{ img }}" id="/static/img/{{ img }}">
      {% endfor %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="/static/js/main.js"></script>
    <py-script src="/static/pyscript/main_pyscript.py"></py-script>
  </body>
</html>
