<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
      <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <py-env>
        - paths:
          - /static/pyscript/canvas.py
          - /static/pyscript/gui.py
          - /static/pyscript/rooms.py
          - /static/pyscript/socketio.py

          # Rooms
          - /static/pyscript/rooms/home.py
          - /static/pyscript/rooms/scores.py
      </py-env>
    </head>

  <body>
    <div style="width: 100%; text-align: center">
        <canvas id="canvas" width="500" height="500" style="display: inline"></canvas>
    </div>
    <div id="canvasImages" style="display: none"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.min.js"></script>
    <script src="/static/js/main.js"></script>
    <py-script src="/static/pyscript/main_pyscript.py"></py-script>
  </body>
</html>
